:root{
 --basic-blue: #81B3D2;
 --focus-blue: #669EC0;
 --active-blue: #5496BD;
 --basic-gray: #EEEEEE;
 --light-gray: #F2F2F2;
 --border-gray: #E5E5E5;
 --logo-gray: #BDBBBC;
 --raiting-gray: #666666;
 --basic-black: #000000;
 --transparent-black: #333333;
 --icon-black: #231F20;
 --basic-brown: #766357;
 --focus-brown: #604E43;
 --active-brown: #503E33;
 --basic-white: #FFFFFF;
}

body{
  min-width: 1200px;
  height:100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
  background-color: var(--light-gray);
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.main-block{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header{
  height: 56px;
}

.background{
   background-image: url("../img/group-2.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width:1200px;
   height:509px;
   background-position: top center;
   background-color: var(--basic-blue);
}

.background img{
  text-align: center;
  padding-top: 77px;
}

.logo-sedona{
  top: 0;
  position: absolute;
  left:531px;
  z-index: 1;
}

.page-body{
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


.main-navigation{
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation{
  list-style: none;
  display:flex;
  padding-top: 15px;
  margin-left: 0px;
  padding-left: 0px;
  margin: 0px;
}

.site-navigation li{
  width: 300px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2){
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3){
  text-align: right;
}

.site-navigation li:first-child{
  box-sizing: border-box;
  padding-left: 72px;
}

.site-navigation li:last-child{
  box-sizing: border-box;
  padding-right: 72px;
  margin-right: 0;
}

.site-navigation a{
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus{
  color:var(--basic-blue);
}

.site-navigation a:active{
  color: rgb(255,255,255, 0.3);
}

a.active-page{
  color: var(--basic-brown);
  pointer-events: none;
  cursor: default;
}

.sedona-info{
  color: var(--transparent-black);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:123px;
  margin-top: 43px;
  margin-bottom: 51px;
}

.sedona-info .info-header{
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
  width: 470px;
  height: 80px;
}

.sedona-info p{
  margin:0;
  line-height: 26px;
}

.five-reasons{
  margin-top: 1px;
}

.features-list{
  list-style: none;
}

.features-list{
  display:grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.features-list{
 margin-left: 0px;
 padding-left: 0px;
 margin: 0px;
}

.blue-background{
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:400px;
  height: 256px;
}


.feature-item-city h3,
.feature-item-bridge h3,
.other-features h3{
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-top:  47px;
}

.feature-item-bridge h3{
  margin-top: 49px;
}

.feature-number{
  margin-top: 3px;
}

.feature-item-city{
  display: flex;
  grid-row: 1/2;
  grid-column: 1/4;
}

.feature-item-bridge{
  display: flex;
  flex-direction: row-reverse;
  grid-row: 3/4;
  grid-column: 1/4;
}

.other-features{
  background-color: var(--basic-gray);
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  width:400px;
  height: 256px;
}
.other-features h3,
.other-features p{
  text-align: center;
}

.feature-item-one{
  grid-column: 1/2;
  grid-row: 4/5;
}

.feature-item-two{
  grid-column: 2/3;
  grid-row: 4/5;
}

.feature-item-three{
  grid-column: 3/4;
  grid-row: 4/5;
}

.features-extra{
  color: var(--basic-black);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.extra-one{
  padding-top: 60px;
}

.extra-two{
  padding-top: 61px;
}

.extra-three{
  padding-top: 55px;
}

.features-extra h3{
  font-size:21px;
  padding-top: 22px;
  margin: 0;
}

.features-extra p{
  padding-top: 25px;
  margin: 0;
}

.feature-number{
  margin-top: 3px;
  margin-bottom: 11px;
}
/* Search-form */

.window-search-button{
  color: var(--basic-white);
  font-size:21px;
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.window-search-button:hover,
.window-search-button:focus{
  background-color: var(--focus-brown);
  outline: none;
}

.window-search-button:active{
    background-color: var(--active-brown);
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.hotel-search label{
  font-weight: 700;
  line-height: 26px;
}


.search-header{
  color:var(--basic-black);
  font-size:30px;
  font-weight: 700;
}

.hotel-search{
  text-align: center;
  position: absolute;
  top:1936px;
  left:316px;
  z-index: 1;
}

.form-container{
  width:568px;
  height: 395px;
  margin: auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
  display:none;
}

.form-item{
  height: 285px;
  width: 458px;
  padding-top: 54px;
  padding-left: 55px;
}

.search-title{
 height: 97px;
 margin-bottom: 52px;
}

.search-header{
  margin-top: 0;
  line-height: 24px;
}

.search-explane{
  line-height: 26px;
}

.form-inpute-date{
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--light-gray);
  padding: 0 0 0 11px ;
  border:2px solid var(--light-gray);
}

.form-inpute-date:hover{
  background-color: #ebebeb;
}

.form-inpute-date:focus{
  background-color: white;
  border: 2px solid #e5e5e5;
  outline: none;
}

.departure{
  margin-top: 29px;
}

.arrive,.departure{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-input-placeholder{
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.adults-children{
  margin-top: 30px;
  display: flex;
}

.adults,
.children{
  display:flex;
  align-items: center;
}

.adults{
  width: 225px;
}

.children{
  justify-content: flex-end;
  width:179px;
  margin-left: 54px;
}

 .minus-plus-window{
  width: 114px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  display: flex;
}

.adults .minus-plus-window{
  margin-left: 40px;
}

.children .minus-plus-window{
  margin-left: 28px;
}

.input-age,
.minus,.plus{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.input-age:focus,
.minus:focus,
.plus:focus{
  outline: none;
}

.button-form{
  margin-top: 54px;
}

.minus svg{
  cursor: pointer;
  padding: 17px 13px 17px 13px;
}

.plus svg{
  cursor: pointer;
  padding: 13px 13px 13px 13px;
}

.plus svg:hover path,
.minus svg:hover rect{
  fill: var(--basic-black);
  cursor: pointer;
}

.minus svg:active rect,
.plus svg:active path{
  fill: var(--basic-blue);
  cursor: pointer;
}

.calendar{
  position: absolute;
  left: 83.8%;
  background-color: transparent;
  border:none;
  cursor: pointer;
  outline: none;
}

.calendar:hover path,
.calendar:focus path{
  fill: var(--basic-black);
}

.calendar:active path{
  fill: var(--basic-blue);
}

.button-form{
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-blue);
  border: none;
  width:458px;
  height: 58px;
  padding:16px;
  cursor: pointer;
  outline: none;
}

.button-form:hover,
.button-form:focus{
  background-color: var(--focus-blue);
}

.button-form:active{
  background-color: var(--active-blue);
  color: rgb(255,255,255, 0.3);
  mix-blend-mode: normal;
}

/* JS styles form*/

.form-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(400px);
  }

  70% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(400px);
  }

  70% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    25%,
    50%,
    75%,
    95% {
        transform: translateX(-15px);
    }

    10%
    25%,
    50%,
    75%,
    95% {
        transform: translateX(15px);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    25%,
    50%,
    75%,
    95% {
        transform: translateX(-15px);
    }

    10%
    25%,
    50%,
    75%,
    95% {
        transform: translateX(15px);
    }
}

.map{
  margin-top: 291px;
}

/* JS styles map*/

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 0 6px 0;
  line-height: 26px;
}

.main-page-footer{
  position: absolute;
  bottom: 0;
  width: inherit;
}

.contact{
  font-size: 21px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 71px;
}

.contact p{
  padding-bottom: 8px;
}

.contact a{
  color: var(--basic-black);
}

.social{
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
  margin: auto;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.fb{
  margin-left: 6px;
}

.youtube{
  margin-left: 6px;
}

.icon:active path{
  background-color: var(--active-blue);
  fill: rgb(255,255,255,0.3);
  mix-blend-mode: normal;
}

.icon:hover,
.icon:focus{
  background-color: var(--active-blue);
}

.htmlacademy{
text-align: right;
display: flex;
justify-content: space-between;
align-items: center;
width: 197px;
margin:auto;
padding-right: 72px;
padding-top: 4px;}

.htmlacademy-logo:hover path,
.htmlacademy-logo:focus path{
  fill: var(--basic-blue);
}

.htmlacademy-logo:active path{
  fill: var(--logo-gray);
}

/*second page*/
.main-filter-container{
  background-image: url(../img/form-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -166px;
  width:1200px;
  height:217px;
  border-top: solid 1px transparent;
  background-color: var(--basic-blue);
}

.main-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--basic-white);
  width:1054px;
  height: 156px;
  margin-left: 71px;
  margin-top: 24px;
  border-bottom: solid 1px transparent;
}

.main-lists{
  width:392px;
  display: flex;
  justify-content: space-between;
}

 .main-filter li{
  list-style:none;
  text-align: left;
}

.main-filter>div{
  height:154px;
}

.main-lists div:last-child ul{
  padding-left: 4px;
}

.main-filter div h3{
  text-align: left;
  color: var(--basic-white);
  margin: 0;
}

.filter-lists ul{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 114px;
  margin-left: 0px;
  padding-left: 0px;
}

.filter-lists label{
  position: relative;
}

.checkbox{
  position: absolute;
  opacity: 0;
}

.checkbox-text{
  padding-left: 40px;
}

.fake-checkbox::before{
  content: "";
  background: url(../img/checkbox-off.svg) no-repeat ;
  width: 23px;
  height:23px;
  position: absolute;
  top: -3px;
  left: -1px;
}

.checkbox:disabled .fake-checkbox::before{
  content: "";
  background: url(../img/checkbox-off-blocked.png) no-repeat ;
  width: 23px;
  height:23px;
  position: absolute;
  top: -3px;
}

.checkbox:checked:disabled +.fake-checkbox::before{
  content: "";
  background: url(../img/checkbox-on-blocked.png) no-repeat ;
  width: 27px;
  height:23px;
  position: absolute;
  top: -3px;
}

.checkbox:checked +.fake-checkbox::before{
  content: "";
  background: url(../img/checkbox-on.svg) no-repeat ;
  width: 27px;
  height:23px;
  position: absolute;
  top: -3px;
}

.control-price-form{
  padding: 0;
  margin: 0;
  border: none;
}

.control-price-form legend{
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.control-price-form .price-control{
  height: 36px;
  width: 316px;
  margin-top: 10.5px;
  border: solid 2px var(--basic-white);
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}

.input-price-min,
.input-price-max{
  width: 60px;
  border: none;
  background-color: transparent;
  color: var(--basic-white);
  outline: none;
  padding-left: 1px;
}

.price-control label{
  display: inline-block;
  vertical-align: baseline;
  padding-top: 5px;
  padding-left: 65px;
  text-align: left;
}

.price-control .max-price{
  padding-left: 59px;
}

.price-control::after {
  content: "";
  position: absolute;
  left:156px;
  top:5px;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
}

.price-control label,
.price-control input{
  cursor: pointer;
}

.range-control{
  height: 25px;
  margin-top: 9px;
  position: relative;
  border: solid 1px transparent;
}


.range-line{
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 11.5px;
}

.active-line{
  width: 248px;
  height: 2px;
  margin-left: 14px;
  background-color: var(--basic-white);
}

.slider1,
.slider2{
  background: url(../img/filter-button.svg);
  width: 20px;
  height: 22px;
}

.slider1{
  position: absolute;
  top:2px;
}

.slider2{
  position: absolute;
  top: 3px;
  left: 251px;
}

.slider1:hover,
.slider2:hover{
  background: url(../img/filter-button-hover.svg);
  width: 23px;
  height: 24px;
}

.slider1:hover{
  position: absolute;
  top:2px;
}

.slider2:hover{
  position: absolute;
  top:2px;
  left:249.5px;
}

.show-button{
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  color: var(--basic-white);
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-right: 7px;
  padding-top: 2px;
}

.show-button:hover,
.show-button:focus{
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.show:hover,
.show:focus{
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Hotels output */
.hotel-sorting{
  height: 86px;
  border-bottom: 1px solid var(--border-gray);
  display: flex;
  align-items: center;
}

.founded{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  width: 117px;
  margin-left: 73px;
}

.sorting,
.sorting-list button{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 1px 0;
  box-sizing: border-box;
}

.sorting{
  margin-left: 46px;
  margin-bottom: 8px;
}

.sorting-list{
  display: flex;
  margin-top: 0;
  margin-left: 40px;
  width: 238px;
  height: 30px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

.sorting-list li{
 list-style:none;
 text-align: left;
}


.sorting-list button{
  border:none;
  border-bottom: dotted 1px var(--basic-blue);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.sorting-list button:hover,
.sorting-list button:focus{
  color: var(--basic-blue);
}

.sorting-list button:active{
  color: var(--basic-black);
  border: none;
}

.sorting-list button.sort-checked{
  color: var(--basic-blue);
  border: none;
}

.up-down{
  margin-left: 503px;
}

.up-down a:last-child{
  margin-left: 10px;
}

.down.active-sort path{
  fill: var(--basic-blue);
}

.up:hover path,
.down:hover path,
.up:focus path,
.down:focus path,
.active-sort:hover path,
.active-sort:focus path{
  fill: var(--basic-black);
}

.up:active path,
.down:active path{
  fill: var(--basic-blue);
}

.output-lists{
  margin-left: 0px;
  padding-left: 0px;
  margin: 0px;
}

.hotel-output li{
  display: flex;
  height: 150px;
  padding: 0 73px;
  align-items: center;
  border-bottom: 1px solid var(--border-gray);
  list-style:none;
  text-align: left;
}

.hotel-output p{
  margin-top: 9px;
  margin-bottom: 15.5px;
}

.hotel-details{
margin-left: 29px;
height: 97px;
}

.hotel-details h3{
  font-size: 21px;
  margin-top: 0;
  margin-bottom: auto;
}

.hotel-details h3>a{
  color: var(--basic-black);
}

.hotel-details h3>a:hover,
.hotel-details h3>a:focus{
  color: var(--basic-blue);
}

.hotel-details h3>a:active,
.hotel-details h3>a:active{
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type{
  display: inline-block;
  vertical-align: baseline;
  width: 107px;
}

.price-span{
  margin-left: 5px;
}

.details-booking {
  display: inline-flex;
}

.details{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
  padding: 3px 16.5px;
  box-sizing: border-box;
}

.details:hover,
.details:focus{
  background-color: var(--focus-blue);
}

.details:active{
 background-color: var(--active-blue);
 color: rgb(255,255,255, 0.3);
 mix-blend-mode: normal;
}

.booking{
  color: var(--basic-white);
  font-size:14px;
  line-height: 21px;
  font-weight: 700;
  background-color: var(--basic-brown);
  margin-left: 6px;
  padding: 3px 16.5px;
  box-sizing: border-box;
}

.booking:hover,
.booking:focus{
  background-color: var(--focus-brown);
}

.booking:active{
  background-color: var(--active-brown);
  color: rgb(255,255,255, 0.3);
  mix-blend-mode: normal;
}

.raiting{
  margin-left: 521px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

.raiting div:last-child{
  background-color: var(--light-gray);
  color: var(--raiting-gray);
  padding: 3px 12px 3px 15px;;
  text-align: center;
  border: solid 1px transparent;
  box-sizing: border-box;
}

.second-page-footer{
  height: 120px;
  padding: 0;
}
