:root {
 --basic-blue: #81B3D2;
 --focus-blue: #669EC0;
 --active-blue: #5496BD;
 --basic-grey: #EEEEEE;
 --basic-black: #000000;
 --transparent-black: #333333;
 --icon-black: #231F20;
 --basic-brown: #766357;
 --focus-brown: #604E43;
 --active-brown: #503E33;
 --basic-white: #FFFFFF;
}

body {
  min-width: 1200px;
  height:100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.main-block{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: white;

}
.background {
   background-image: url("img/Group-2.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width:1200px;
   height:509px;
   background-position: top center;

}

.background img{
  text-align: center;
  padding-top: 77px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-sedona{
  top: 0;
  position: absolute;
  left:531px;
  z-index: 1;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  display:flex;
  margin-left: 72px;
  margin-right: 72px;
}

.site-navigation li{
  width: 300px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

ul{
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 0px;
 margin: 0px;
}

ol{
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 0px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color:var(--basic-blue);
}

.sedona-info {
  color: var(--transparent-black);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:123px;
  margin-top: 43px;
  margin-bottom: 51px;
}

.sedona-info .info-header {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
}


.features-list {
  list-style: none;
}

.features-list{
  display:grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}


.blue-background {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width:400px;
  height: 256px;
}

.feature-item-city h3,
.feature-item-bridge h3,
.other-features h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-top:  47px;
}

.feature-item-city{
  display: flex;
  grid-row: 1/2;
  grid-column: 1/4;
}

.feature-item-bridge{
  display: flex;
  flex-direction: row-reverse;
  grid-row: 3/4;
  grid-column: 1/4;
}

.other-features {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width:400px;
  height: 256px;
}

.feature-item-one{
  grid-column: 1/2;
  grid-row: 4/5;
}
.feature-item-two{
  grid-column: 2/3;
  grid-row: 4/5;
}
.feature-item-three{
  grid-column: 3/4;
  grid-row: 4/5;
}

.features-extra {
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom:
}

.search-header {
  color:var(--basic-black);
  font-size:30px;
  font-weight: 700;
}

.hotel-search {
  text-align: center;
}

.hotel-search h3 {
  color: var(--basic-white);
  font-size:21px;
  background-color: var(--basic-brown);
  width: 568px;
  margin: auto;
  padding: 30px;
}

.hotel-search h3:hover,
.hotel-search h3:focus {
  background-color: var(--focus-brown);
  }

.hotel-search h3:active {
    background-color: var(--active-brown);
    color: var(--basic-white);
    opacity:0.3;
    mix-blend-mode: normal;
    }


.hotel-search label{
  font-weight: 700;
  line-height: 26px;
}

::-webkit-input-placeholder{
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

button {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  width:458px;
  height: 58px;
  padding:16px;
}

button:hover,
button:focus {
  background-color: var(--focus-blue);
}

button:active {
  background-color: var(--active-blue);
  color: var(--basic-white);
  opacity:0.3;
  mix-blend-mode: normal;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.contact {
  font-size: 21px;
  font-weight: 700;
  line-height: 36px;
}

.social{
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
  margin: auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.fb{
  margin-left: 6px;
}

.youtube{
  margin-left: 6px;
}

.htmlacademy {
text-align: right;
display: flex;
justify-content: space-between;
align-items: center;
width: 197px;
margin:auto;}

.icon:hover,
.icon:focus {
  background-color: var(--focus-blue);
}

 .icon:active {
  background-color: var(--active-blue);
}

.htmlacademy-logo{
  color: var(--basic-black);
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
  color:var(--basic-blue);
}

/*second page*/
.show{
  background-color: var(--basic-black);
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  width: 137px;
  height: 36px;
  font-size: 14px;
  font-weight:400;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding-top: 8px ;
}

.show:hover,
.show:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  width:110px;
  height: 27px;
  padding: 6px;
}

.details:hover,
.details:focus {
  background-color: var(--focus-blue);
}

.details:active {
 background-color: var(--active-blue);
 color: var(--basic-white);
 opacity:0.3;
 mix-blend-mode: normal;
}

.booking{
  color: var(--basic-white);
  font-size:14px;
  font-weight: 700;
  background-color: var(--basic-brown);
  width: 110px;
  margin: auto;
  padding: 6px;
}

.booking:hover,
.booking:focus {
  background-color: var(--focus-brown);
  }

.booking:active{
  background-color: var(--active-brown);
  color: var(--basic-white);
  opacity:0.3;
  mix-blend-mode: normal;
}
